TestDtoEntities.WinUI/Connected Services/WcfSrvTestDto/WcfSrvDto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestDtoEntities.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestDtoEntities.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBaseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseDTO" nillable="true" type="tns:BaseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseDTO" nillable="true" type="tns:ArrayOfBaseDTO" />
  <xs:complexType name="BaseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idEntity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDTO" nillable="true" type="tns:BaseDTO" />
</xs:schema>